<h1>EmergencyModules#index</h1>
<p>Find me in app/views/emergency_modules/index.html.erb</p>

    <%=link_to "Create Module", new_emergency_module_path, class: "btn btn-primary"  %>

<div class="container">
  <% @emergency_modules.each do |emergency_module| %>
    <div class="card">
    <h5 class="card-title"><%= emergency_module.name %></h5>
    <%= cl_image_tag(emergency_module.photo.key, height: 300, width: 400, crop: :fill) %>
    <p class="card-text">Is active? <%= emergency_module.active %></p>
    <p class="card-text">Last updated by <%= emergency_module.user.email %></p>
    <%=link_to "Show Module", emergency_module_path(emergency_module), class: "btn btn-primary"  %>
    </div>
  <% end %>
  </div>
