

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Dashboard", dashboard_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Emergency Modules</li>
    </ol>
  </nav>

  <% if current_user.admin == true %>
  <%=link_to "create emergency module", new_emergency_module_path, class: "btn btn-primary m-3"%>
  <% end %>
  <div class= "cards-module">
    <% @emergency_modules.each do |emergency_module| %>
      <div class="card card-container">
        <div class="card-header">
          <h3 class="card-title"><%= emergency_module.name %></h3>
        </div>
      <%=link_to emergency_module_path(emergency_module) do %>
        <%= cl_image_tag(emergency_module.photo.key, height: 300, width: 400, crop: :fill) if emergency_module.photo.attached? %>
      <% end %>
      <h3 class="ps-3">Admin Data</h3>
      <% if emergency_module.active == true  %>
        <p class="card-text ps-3">Status: Active </p>
        <% else %>
        <p class="card-text ps-3">Status: Disabled </p>
      <% end %>
      <p class="card-text ps-3">Last updated by <%= emergency_module.user.email %></p>

      </div>

    <% end %>
    </div>

</div>
