<h1>Edit Training Modules</h1>
<p>Please see the training modules below:</p>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Dashboard", dashboard_path%></li>
      <li class="breadcrumb-item"><%= link_to "Training Modules", training_modules_path %></li>
      <li class="breadcrumb-item">
        <%= link_to training_module_path(@training_module) do %>
        <%= @training_module.name %> / </li>
      <% end %>
      <li class="breadcrumb-item active" aria-current="page"> Edit</li>
    </ol>
  </nav>
</div>

<!-- Create shared form for edit -->

<div class="container-lg border form mt-4">
<p>Current Image</p>
 <%= cl_image_tag(@training_module.photo.key, height: 300, width: 400, crop: :fill) %>

<%= simple_form_for @training_module do |f| %>
  <%= f.input :name %>
  <!-- resolve placeholder text -->
  <%= f.input :photo, as: :file %>
  <%= f.input :active %>
  <%= f.button :submit, class: "btn btn-primary mt-4 mb-4" %>
<% end %>
</div>
