<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Dashboard", dashboard_path %></li>
      <li class="breadcrumb-item"><%= link_to "Training Modules", training_modules_path%></li>

      <li class="breadcrumb-item active" aria-current="page"> New Module</li>
    </ol>
  </nav>
</div>


<div class="container-lg border form mt-4 pt-4">
  <%= simple_form_for @training_module do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary mt-4 mb-4" %>
   <% end %>
 </div>
</div>
