<h1>Our Training Modules</h1>
<p>Below are our training modules to help you get started:</p>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Health & Safety Training</li>
    </ol>
  </nav>

  <div class="d-flex flex-row justify-content-evenly">
    <div>
      <%= image_tag("bleed_safe_banner.jpg", height: 300, width: 400, alt: "Emergency Training") %>
    </div>
    <div class="card form" style="width:100%;">
      <div class="card-body">
        <h2>Welcome to Your Bleed Safe Training</h2>
        <p class="card-text">
          Enhance your knowledge on emergency safety tips with our free online modules. These resources are designed to help you understand essential emergency practices.
        </p>
        <ul>
          <li><%= link_to "Stab Wound", "https://www.bleedsafe.com/stab-wound.html" %></li>
          <li><%= link_to "CPR", "" %></li>

      </div>
    </div>
  </div>

  <br>
  <div class="border order-form mt-4 p-3">
  </div>

  <br><br><br>
  <!--<h2>Your Training History</h2>

  <% if @enrollments.empty? %>
    <p>You have not enrolled in any courses yet.</p>
  <% else %>
    <% @enrollments.each do |enrollment| %>
      <div class="card-booking-history border p-4" style="background-color:#ddffdd;">
        <h3><%= enrollment.course_selection %> - Enrolled on <%= enrollment.created_at.strftime("%B %d, %Y") %></h3>
        <p>Status: <%= enrollment.completed ? "Completed" : "In Progress" %></p>
      </div>
      <br>
    <% end %>
  <% end %> -->
</div>
