<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Dashboard", dashboard_path %></li>
      <li class="breadcrumb-item"><%= link_to "Emergency Modules", emergency_modules_path%></li>
      <li class="breadcrumb-item">
        <%= link_to emergency_module_path(@emergency_module) do %>
        <%= @emergency_module.name %>
      <% end %>
       </li>
      <li class="breadcrumb-item active" aria-current="page"> New Topic</li>
    </ol>
  </nav>
</div>


<div class="container-lg border form mt-4">
  <%= simple_form_for [@emergency_module, @emergency_topic] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, class: "btn btn-primary mt-4 mb-4" %>
   <% end %>
 </div>
</div>
