
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "Dashboard", dashboard_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Crime Map</li>
    </ol>
  </nav>
<h1>Crime Map</h1>
<p>You can use our map below to check crime in the area that has been reported in the last month by police.uk</p>
<p>IMPORTANT! Searches in Scotland will only report on traffic police related crimes.</p>
<p>The map will return crimes within <%= CrimeMapConfig.find_by(key: "crime_distance").value %> meters. For privacy reasons, the exact address is not known and the crime marker on the map is expected to be on the street and close to the crime event.</p>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: crime_maps_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Enter Address"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
    <% end %>
  </div>
  <p>The map and data has been matched to <%= @address_used %>. Not the address you are looking for? Try entering the full address.</p>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

<% if current_user.admin == true %>
  Latitude: <%= @address_latitude %> <br>
  Longitude: <%= @address_longitude %><br>
  Full_address from API: <%= @address_used %><br>
  Poly_map_string: <%= @poly_map_string %>
<% end %>

  <table class="table mt-3">
    <tr>
      <th>Crime Category</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Location Description</th>
      <th>Street ID</th>
      <th>Outcome Category</th>
    </tr>
  <% @crime_lookups.each do |crime_lookup|%>
    <tr>
      <td><%= crime_lookup["category"] %></td>
      <td><%= crime_lookup["location"]["latitude"] %></td>
      <td><%= crime_lookup["location"]["longitude"] %></td>
      <td><%= crime_lookup["location"]["street"]["name"] %></td>
      <td><%= crime_lookup["location"]["street"]["id"] %></td>
    <% if crime_lookup["outcome_status"] == nil %>
      <td>No Outcome Added</td>
      <% else %>
      <td><%= crime_lookup["outcome_status"]["category"] %></td>
      <% end %>
      </tr>
    <% end %>
  </table>
</div>

<!-- [...] -->
