
<br>
<div class="container">
<div class="cards-dashboard">
<%=link_to "Training Modules", training_modules_path, class: "btn btn-success btn-dashboard mt-4" %>
<%=link_to "Emergency Modules", emergency_modules_path, class: "btn btn-success btn-dashboard mt-4" %>
<%=link_to "Crime Map", crime_maps_path, class: "btn btn-success btn-dashboard mt-4" %>
<%=link_to "Crime Map Setting", crime_map_configs_path, class: "btn btn-success btn-dashboard mt-4" %>
<%=link_to "Postcode exclusions", crime_postcode_exclusions_path, class: "btn btn-success btn-dashboard mt-4" %>
<%=link_to "First Aid Maps", first_aid_maps_path, class: "btn btn-success btn-dashboard mt-4" %>
<%=link_to "Edit FAQs", faqs_path, class: "btn btn-success btn-dashboard mt-4" %>
</div>
</div>
